@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,500;1,700&family=Lato:wght@100&display=swap');
body {
    background-color: #EADDDD !important;
}

.profile-card {
    max-width: auto;
    margin: 25px auto;
    padding: 30px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-card h2 {
    color: #333;
    margin-bottom: 30px;
}

.user-name {
    font-size: 24px;
    font-weight: bold;
    color: #4e73df;
    margin-bottom: 20px;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 30px;
}

.recent-donors {
    text-align: left;
    margin-top: 15px;
}

.donor {
    margin-bottom: 5px;
    color: #555;
    transition: color 0.3s;
}
