@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,500;1,700&family=Lato:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: transparent !important;
<<<<<<< HEAD
    padding-top: 85px;  
}

=======
    padding-top: 85px;
   
}
.navbar{
    background-color: #2F3936 !important;
    box-shadow: 0px 2px 7px #cbcfce;
    padding: .26em 7em !important;
   
}
>>>>>>> 21c9f55e987de28b2f99d0a3f1763085c3cd466b
.nav-link{
    color: #ffffff !important;
    margin-right: 5px;
}
.nav-link:hover{
    color: #E2DFD2 !important;
}
.main_wapper{
    background-color: #fff !important;
}
/* main{
    background-color: #DE4A4A;
} */

.row h1,h3,h4{
font-family: exo;

}
.row h1{
    font-style:italic !important;
}

<<<<<<< HEAD
=======





>>>>>>> 21c9f55e987de28b2f99d0a3f1763085c3cd466b
footer{
    background-color: #2F3936 !important;
}

<<<<<<< HEAD
/* footer */

=======

/* footer */


>>>>>>> 21c9f55e987de28b2f99d0a3f1763085c3cd466b
a#nav-link{
    font-family: exo;
    font-style: normalS;
    font-weight: 500;
}
#navlink.active{
    background-color: #DE4A4A !important;
    color: #fff !important;
    
}
a#nav-link:hover{
    background-color: #DE4A4A !important;
    color: #ffffff !important;
   
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

/* registration */
#donorButton{
    background-color: blue;
    color: white;
}
.form-section {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: .5s;
}
.toggle-btn{
    font-size: 22px !important;
    font-weight: 600 !important;
    display: flex !important;
    justify-content: center !important;
    width: 15em;
    margin-right: 5px;
    transition: .5s;
}

<<<<<<< HEAD
/* .container {
=======



.container {
>>>>>>> 21c9f55e987de28b2f99d0a3f1763085c3cd466b
    margin: 2em;
    width: 80%;
    height: auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 4px 3px 9px 2px #2a2a2bd8;
    transition: 0.5s;
<<<<<<< HEAD
} */
=======
}
>>>>>>> 21c9f55e987de28b2f99d0a3f1763085c3cd466b

label{
    font-size: auto;
}
.toggle-btn {
    font-size: 22px;
    font-weight: 600;
  display: flex;
  justify-content: center;
    width: 15em;
 margin-right: 5px;
 transition: .5s;

}

.form-section {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: .5s;
}

.form-section.active {
    opacity: 1;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.active1{
    background-color: blue;
    color: #fff;
}
