@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,500;1,700&family=Lato:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #CC6666 !important;
    padding-top: 85px;
}
.navbar{
    background-color: #2F3936 !important;
    box-shadow: 0px 2px 7px #cbcfce;
    padding: .26em 7em !important;
   
}
.nav-link{
    color: #E5E4E2 !important;
    margin-right: 7px;
}

.main_wapper{
    background-color: #fff !important;
}
/* main{
    background-color: #DE4A4A;
} */
#tube{
    width: 358px;
    height: 534px;
    border-radius: 2em;
}

.row h1,h3,h4{
font-family: exo;

}
.row h1{
    font-style:italic !important;
}

.divider{
width: 20%;

}
.row-cols-2 p{
    font-family: 'lato',sans-serif;
    font-style: normal;
    font-weight: 700;
    }

.style { 
    height: 30px; 
    border-style: solid; 
    border-color: #080808; 
    border-width: 1px 0 0 0; 
    border-radius: 20px; 
  } 
  .style:before { 
    display: block; 
    content: ""; 
    height: 30px; 
    margin-top: -31px; 
    border-style: solid; 
    border-color: #1b1717; 
    border-width: 0 0 1px 0; 
    border-radius: 20px; 
  }
  
/* donation page */
.container-i{
margin-left: 3em;
}
#row{
    display: flex !important;
    justify-content: center !important;
}
#row .col-ms{
 flex: 33.3%;
width: auto;
overflow: hidden;
height: 100%;
padding: 4px 19px;

}
.row .col img{
    width: 100%;
    height: 100%;
}
.container-fluid{
    width: auto;
} 
#dgallary{
    margin: 0 6em !important;
}
/* recipient */
table{
    border-radius: 5px;
}

/* appointment page */
.appo h1{
   margin-top: 2.5em !important;
   color: #CC6666 !important;
   font-style:normal !important;
   font-weight: 700;
}

input[type=text],input[type=email],input[type=date],input[type=time]{
    border: none;
    border-bottom: solid 1px #242424;
}
.appoImg img{
    width: 600px;
    height:550;
}

.appobtn{
    background-color: #CC6666 !important;
    color: #ffffff !important;
}


footer{
    background-color: #2F3936;
}


/* footer */

#dashbord_wapper {
    margin-left: 0;
    height: 100vh;
  }

#dashbord{
    padding-top: 2em;
    background-color: #242424;
    width: 20%;
    height: 100% !important;
    position: fixed;
    overflow: hidden; 
    box-shadow: 4px 4px 17px #1b1717;
    
}
.main_container{
    overflow:auto;
}
a#nav-link{
    font-family: exo;
    font-style: normalS;
    font-weight: 500;
}
a.nav-link.active{
    color: white !important;
    background-color: #141418 !important;
    border-radius: 12px !important;
    
}
/* a#nav-link:hover{
   
} */





